/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    color: #717171;
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

a {
    text-decoration: none;
    color: #717171;
}

/* utility */
.debug-box {
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,.2);
}

.flex{
    display: flex;
}


.p-20y {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-20x {
   padding-left: 20px;
   padding-right: 20px;
}

.button {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.2);
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.mrg-r5{
    margin-right: 5px;
}

.brand {
    width: 150px;
}

.action {
    width: 30px;
    height: 30px;
}

.aside-title {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.icon-img{
    width: 30px;
    cursor: pointer;
}

.icon {
   font-size: 50px;
    cursor: pointer;
}

.mr-t {
    margin-top: 80px;
}

.main-title {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    padding-top: 60px ;
    padding-bottom: 20px;
}

.music-title {
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 5px;
}


.artist .cover img{
    border-radius: 50%;
}

.icon-f {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
} 

.icon-f2{
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.title-footer {
    font-weight: 900;
    color: #fff;
    font-size: 18px;
}

.subtitle-footer {
    font-weight: 300;
    font-size: 14px;
}

.plus {
    width: 50px;
    height: 50px;
    color: #000;
    background-color: #717171;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-main {
    position: absolute;
    font-size: 60px;
    color: #fff;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
}

.icon-bar {
    font-size: 20px;
    color: #fff;
    visibility: hidden;
}

/* HOVER */
main a:hover {
    color: #fff;
}

.list-navigation .container-aside:hover {
    border-left: 5px solid #adff2f;
    padding-left: 5px;
}

header .button:hover {
    font-size: 17px;
}

.cover-img:hover img{
    filter:brightness(0.5);
}

.cover-img:hover .icon-main {
    visibility: visible;
}

footer .track-bar:hover .bar-in,
footer .track-bar2:hover .bar-in{
    background-color: #adff2f;
    cursor: pointer;
}

footer .track-bar:hover .icon-bar,
footer .track-bar2:hover .icon-bar {
    visibility: visible;
}

footer .icon-f:hover {
    color: #adff2f;
}

footer .icon-f2:hover {
    font-size: 45px;
    color: #adff2f;
}

/* header */
header {
    width: calc(100% - 230px);
    background: rgba(0,0,0,.2);
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
}

/* main */
main {
    height: 100vh;
    overflow: hidden;
}

/* main-left */
.main-left {
    background: #000;
    width: 230px;
    flex-direction: column;
    flex-shrink: 0
}

.main-left  ul {
    list-style-type: none;
}

.main-left  li {
    padding: 10px 0;
}

.main-left .container-aside {
    align-items: center;
}

.main-left .container-aside a,
.main-left li {
    font-weight: 600;
    font-size: 16px;
}

.install{
    border-bottom: solid 2px #717171;
}

.profile {
    align-items: center;
}

.list-top {
    flex-grow: 1;
}


/* right-section */
.main-right {
    background: #141922;
    flex-grow: 1;
    overflow: auto;
}

.navbar {
    flex-wrap: wrap;
}

.main-right .navbar {
    list-style: none;
    justify-content: center;
    font-size: 18px;
}

.navbar li a {
    text-transform: uppercase;
    font-weight: 600;
}

/* recently */
.recently{
    flex-wrap: wrap;
}

.main-content .cover {
    width: calc(100% / 6);
    padding: 0 20px;
}

.cover-img {
    width: 100%;
}

.cover img {
    width: 100%;
    object-fit: cover;
}

.cover-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
  text-align: center;
}

 /* mix */
.mix-title .main-title {
    padding-bottom: 5px;
}

/* footer */
footer {
    background-color: #282828;
    width: 100%;
}

.footer-section {
    width: 100%;
    justify-content: space-between;
}

/* LEFT */
.left-footer {
    align-items: center;
}

.left-footer ul,
.center-footer ul,
.right-footer  ul {
    list-style: none;
}

.left-footer li,
.center-footer li,
.right-footer  li {
    padding: 5px;
    text-align: center;
}

.left-footer li img {
    width: 50px;
}

.left-footer .title-footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left-footer .save-footer {
    align-items: center;
}

.left-footer .save-footer i{
    padding: 0 10px;
}

/* CENTER */
.center-footer .up-center {
    align-items: center;
    justify-content: center;
}

.center-footer .up-center li {
    padding: 5px 15px;
}

.down-center {
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.down-center .track-bar {
    width: 500px;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 20px;
}

.bar-in {
    width: 30%;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-end;
}

.down-center span {
    font-weight: 600;
    color: #fff;
}

/* right */
.right-footer .up-right{
    align-items: center;
    justify-content: center;
}

.right-footer .track-bar2 {
    width: 100px;
    height: 5px;
    background-color: #5a5a5a;
    border-radius: 20px;
}


