/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 14px;
    color: #717171;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: #141922; */
} 

a {
    text-decoration: none;
    color: #717171;
}

/* utility */
.debug-box {
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,.2);
}

.flex{
    display: flex;
}


.p-20y {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-20x {
   padding-left: 20px;
   padding-right: 20px;
}

.button {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.2);
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.mrg-r5{
    margin-right: 5px;
}

.brand {
    width: 150px;
}

.action {
    width: 30px;
    height: 30px;
}

.aside-title {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.icon-a{
    font-size: 50px;
    cursor: pointer;
}

.mr-t {
    margin-top: 80px;
}


/* header */
header {
    width: 100%;
    background: rgba(0,0,0,.2);
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
}

/* main */
main {
    height: 100%;
}

/* main-left */
.main-left {
    background: #000;
    width: 20%;
    z-index: 2;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.main-left  ul {
    list-style-type: none;
}

.main-left  li {
    padding: 10px 0;
}

.main-left .container-aside {
    align-items: center;
}

.main-left .container-aside a,
.main-left li {
    font-weight: 600;
    font-size: 18px;
}

.install{
    border-bottom: solid 2px #717171;
}

.profile {
    align-items: center;
}


/* right-section */
.main-right {
    background: #141922;
    width: 80%;
    flex-grow: 1;
    overflow: auto;
}


.main-right .cover {
    width: 300px;
    height: 200px;
    background: orange;
}


/* footer */
footer {
    background-color: #282828;
    height: 50px;
}